<div class="lightbox" id="lightbox">
    <button class="lightbox-close" id="lightboxClose">&times;</button>
    <button class="lightbox-prev" id="lightboxPrev">&#8249;</button>
    <button class="lightbox-next" id="lightboxNext">&#8250;</button>
    <img src="" alt="" class="lightbox-img" id="lightboxImg">
    <p class="lightbox-caption" id="lightboxCaption"></p>
</div>
